<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLP App: Sentiment Analysis</title>
  </head>

  <body>
    <header>
      <div class="">
        Sentiment Analysis
      </div>
      <div class="">
        Home | About us | Career
      </div>
    </header>

    <main>
      <section>
        <h1>Sentiment Analysis</h1>
        <p>
          How to: Just paste your URL of an article or blog post here!
        </p>
        <form id="form">
          <input type="text" id="url" placeholder="URL" />
          <input type="submit" class="btn submit" value="Go!" />
        </form>
      </section>

      <section>
        <h2>Results</h2>
        <ul id="results"></ul>
      </section>
    </main>

    <footer>
      <p>Copyright 2020</p>
    </footer>

    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
